body{
    background-image: url('https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif');
}

h1{
    font-weight: 100px;
    font-family: 'Roboto', sans-serif;
    font-size:50px;
    color: cornsilk;
}

h2{
    color:#ff8ba7;
    font-size: 25px;
    font-family: 'Balsamiq Sans', cursive;
}

.profile{
    height:150px;
    width:150px;
}

p{
    color: ivory;
    font-family: 'Balsamiq Sans', cursive;
}

span{
    font-weight: 100;
}

.top-container
{
    text-align: center;
    min-width:30%;
    max-width: 100%;
    margin-top: 100px;
}

.fb{
    height:50px;
    width: 50px;
}

.instagram{
    height:50px;
    width: 50px;
}

.gmail{
    height:50px;
    width: 50px;
}

.linkedin{
    height:50px;
    width: 50px;
}

.github{
    height:50px;
    width: 50px;
}

li{
    display: inline;
}

.contacts{
    margin-top: 100px;
    min-width:25%;
}
.bottom-container{
    text-align: center;
}

li{
    margin-right: 30px;
}
